<!DOCTYPE html>
<html>
  <head>
    <title>Splurty</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="row"> <!-- BootStrap 4: Create a row first, then put columns into it -->
      <div class="col-3"> <!-- This col = 3/12 of "xs" screen width (< 576px) & larger -->
        <%= link_to root_path, class: 'logo' do %>
          <div class="circle">
            <br />
            Funniest
            <br />
            British
            <br />
            Comedians
          </div> <!-- class="circle" -->
        <% end %>
      </div> <!-- class="col-3" -->

      <div class="col-4 col-sm-4 hidden-xs-down slogan"> <!-- Column is called "slogan", 4/12 of "xs" screen width (< 576px), also 4/12 for "sm" screens (> 576px) & larger. 'hidden' was in BS4 alpha 6, but was removed in BS4 beta, replaced with "d-none d-sm-block" -->
        "Splurty" assignment for the FHP's Full-Stack web-dev course.
      </div>

      <div class="col-10 offset-1 col-sm-5 offset-sm-0 links"> <!-- Col is called "links", 10/12 of "xs" scr width (< 576px), indented by 1/12. 5/12 for "sm" screens (> 576px), no indent -->
        <!-- Button trigger modal -->
        <%= link_to 'Contribute', '#', data: {toggle: 'modal', target: '#myModal'} %>
        &nbsp;&nbsp;
        <%= link_to 'About', about_path %>       
      </div>
    </header> <!-- End of this row -->

    <!-- Modal: "Contribute your quote" -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> <!-- Class: BS4 modal container, fades in and out of view -->
      <div class="modal-dialog" role="document"> <!-- Inner container -->
        <div class="modal-content"> <!-- Another container, actual repository of modal content -->
          <div class="modal-header"> <!-- First of three sections -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button> <!-- "x" button to close window -->
            <h4 class="modal-title" id="myModalLabel">Contribute Your Quote</h4>
          </div> <!-- class="modal-header" -->
          <%= simple_form_for Quote.new do |f| %> <!-- This is where the Rails code steps in -->
            <div class="modal-body"> <!-- Second of three sections -->
              <%= f.input :saying, label: "What is the comedy quote you'd like to add?", placeholder: "I can speak Esperanto like a native."%>
              <br />
              <%= f.input :author, label: "Who said it?", placeholder: "Spike Milligan" %>
            </div> <!-- class="modal-body" -->
            <div class="modal-footer"> <!-- Third of three sections -->
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <%= f.submit 'Create', class: 'btn btn-danger' %>
            </div> <!-- class="modal-footer" -->
          <% end %> <!-- End of Rails code -->
        </div> <!-- class="modal-content" -->
      </div> <!-- class="modal-dialog" -->
    </div> <!-- class="modal fade" -->
    
    <hr />
    <br class="clear" />

    <div class="container"> <!-- Bootstrap container, only 1 column, no rows defined -->
      <% if flash[:error].present? %> <!-- Rails code steps in here -->
        <div class="col-10 offset-1 alert alert-danger"> <!-- Error msg, 10/12 of "xs" screen, indent by 1/10 -->
          <%= flash[:error].html_safe %>
        </div> <!-- class="alert" -->
      <% end %> <!-- End of Rail code -->
      <%= yield %> <!-- *** Insert point for specific page text *** -->
    </div> <!-- class="container" -->

    <div class="footer">
      <div class="container"> <!-- Bootstrap compulsory container -->
        <div class="row"> <!-- Create a row, then put columns into it -->
          <div class="col-12 col-sm-6"> <!-- 12/12 of "xs" screen, 6/12 of "sm" screen -->
            <%= link_to "Show me another!", root_path, class: 'next-quote' %>
          </div>
          <div class="col-12 col-sm-6 footer-blurb"> <!-- 12/12 of "xs", 6/12 of "sm" -->
            Made in West Sussex, England by John H.
          </div> <!-- class="footer-blurb" -->
        </div> <!-- class="row" -->
      </div> <!-- class="container" -->
    </div> <!-- class="footer" -->

  </body>
</html>
